<h2>Books</h2>

<div>
    @for(book of books$| async; track book.id){
       <h2>{{book.title}}</h2> 
       <h3>{{book.author}}</h3>
       <button (click)="removeBook(book.id)">Remove</button>
    }@empty {
        <div>
            No books...
        </div>
    }
</div>

<h2>Add a new Book</h2>

<form action="" [formGroup]="bookForm" (ngSubmit)="onSubmit()">

    <input type="text" placeholder="book id" formControlName="id">
    <input type="text" placeholder="title" formControlName="title">
    <input type="text" placeholder="author" formControlName="author">

    <button type="submit">Add book</button>
</form>